<ul>
  <li>name: {{project.name}}</li>
  <li>description: {{project.description}}</li>
  <li>needs funding: {{project.needed_funding}}</li>
  <li>user name: {{project.user.name}}</li>
  <li>user email: {{project.user.email}}</li>
</ul>